/*fonts*/

@font-face {
    font-family: 'Lato';
    src: url("assets/Lato-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/Lato-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url("assets/Lato-Light.ttf");
    font-weight: 300;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

a, a:link, a:active, a:visited, a:hover {
    text-decoration: none;
}

body {
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

img {
    max-width: 100%;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 375px) {
    .container {
        padding: 0 30px;
    } 
}


.header {
    background-color: #2d303a;
    border-bottom: 6px solid  #323746;
    padding-bottom: 7px;
    width: 100%;
    height: 82px;
    position: fixed;
    transition: all .3s ease;
    z-index: 5;
}

@media (max-width: 767px) {
    .header {
        display: flex;
        height: 71px;
    }
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.humburger {
    width: 25px;
    height: 20px;
    position: absolute;
    top: 26px;
    left: 20px;
    display: none;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 60;
}

@media (max-width: 767px) {
    .humburger {
        display: inline-block;
    } 
}

.humburger:before {
    content: "";
    display: block;
    width: 100%;
    background-color: #fff;
    height: 2.4px;
    position: absolute;
    top: 0;
}

.humburger:after {
    content: "";
    display: block;
    width: 100%;
    background-color: #fff;
    height: 2.4px;
    position: absolute;
    bottom: 0;
}
.humburger-transform {
    transform: rotate(90deg);
}

.humburger__line {
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    height: 2.4px;
    width: 100%;
    top: 9px;
}

.header-wrap h1 {
    margin-top: 19px;
    margin-bottom: 19px;
}

@media (max-width: 767px) {
    .header-wrap h1  {

    }
}

.header__logo {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    font-size: 24px;
}

.header__logo:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.header__logo:after {
    content: "*";
    color: #f06c64;
    position: absolute;
    top: -3%;
}

.header-nav__list {
    list-style-type: none;
    display: flex;
    padding-top: 13px;
}

.header-nav__list a {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 15px 0 14px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .header-nav  {
        position: absolute;
        width: 0;
        height: 100vh;
        left: -100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        overflow: hidden;
        transition: all 0.3s ease-out;
    }

    .header-nav__list {
        display: flex;
        background-color:#2D303A;
        width: 49%;
        flex-direction: column;
        padding-left: 25%;
        padding-top: 62%;
    }

    .header-nav__title {
        padding-bottom: 27px;
    }

    .header-nav__list a {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;
    }
    
    .header-nav__title:after {
        display: none;
    }

}

.header-nav.mabile__menu-active {
    display: flex;  
    width: 100vw;
    left: 0;
}

.header-nav__list a.active {
    color: #f06c64;
    transition: 0.3s;
}

.header-nav__list li:last-child a {
    
    margin: 0 0 0 13px;
  
}
.header-nav__title {
    position: relative;
}

.header-nav__title:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: #494e62;
    top: 54%;
}

.header-nav__title:last-child:after {
    display: none;
}

/*.header-nav__title a:hover {
    color: #f06c64;
    transition: 0.3s;
}*/

.slider {
    background-color: #f06c64;
    border-bottom: 6px solid  #ea676b;
    padding-top: 95px;
}

@media (max-width: 375px) {
    .slider .container {
        padding: 0 10px;
    } 
}


.blue {
    background-color: #648BF0;
    border-bottom: 6px solid  #648BF0;
}

.slider-wrap {
    position: relative;
    height: 58.3vw;
    max-height: 594px;
}

.slider__button {
    width: 16px;
    height: 27px;
    cursor: pointer;
}

.slider__button:hover {
    transition: 0.3s;
    opacity: 0.5;
}

.slider__button--left {
    position: absolute;
    top: 48%;
    left: 0px;
}

.slider__button--right {
    transform: rotate(180deg);
    margin-bottom: 6px;
    position: absolute;
    right: 0px;
    top: 48%;
}

.slider__phone {
    position: relative;
    display: none;
    animation: 5s ease-in-out;
    transition: 0.3s;
    margin: auto;
    height: 100%;
    width: 95%;
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.slide {
    width: 50%;
}

.slider__phone1 {
    transform: translate(1px ,296px);
}

.slider__phone2 {
    transform: translate(-1px ,-298px);
}

.display--vertical {
    position: absolute;
    left: 9.7%;
    width: 21.1%;
    height: 56.1%;
    margin-top: 13.3%;
    z-index: 3;
    background-image: url(assets/Layer2.png);
    background-position: 4% 55%;
}

@media (max-width: 768px) {
    .display--vertical {
        height: 54.6%;
        margin-top: 13.2%;
        width: 21.4%;
    } 
}

@media (max-width: 375px) {
    .display--vertical {
        height: 57.7%;
        margin-top: 13.2%;
        width: 21.0%;
    } 
}


.phone--vertical {
    position: absolute;
    left: 8.2%;
    margin-top: 6%;
    z-index: 2;
    max-width: 100%;
    width: 24.1%;
}

.phone--vertical--shadow {
    position: absolute;
    left: 7.9%;
    margin-top: 6%;
    max-width: 100%;
    width: 26.9%;
}

.phone--vertical--button {
    position: absolute;
    left: 17.9%;
    margin-top: 51.7%;
    z-index: 2;
    width: 4.5%;
}

.display--horizontal {
    position: absolute;
    right: 13.0%;
    z-index: 3;
    margin-top: 21.2%;
    background-image: url(assets/Layer1.png);
    background-position: 51% 30%;
    height: 31.7%;
    width: 37.3%;
}

@media (max-width: 768px) {
    .display--horizontal {
        height: 31.0%;
        width: 37.5%;
        right: 13.1%;
    } 
}

@media (max-width: 375px) {
    .display--horizontal {
        height: 32.6%;
        width: 37.2%;
        right: 13.0%;
    } 
}

.phone--horizontal {
    position: absolute;
    right: 19.4%;
    margin-top: 6%;
    z-index: 2;
    transform: rotate(90deg);
    max-width: 100%;
    width: 24.1%;
}

.phone--horizontal--shadow {
    position: absolute;
    right: 16.4%;
    margin-top: 6%;
    transform: rotate(90deg) scale(1,-1);
    max-width: 100%;
    width: 26.7%;
}

.phone--horizontal--button {
    position: absolute;
    right: 51.4%;
    width: 4.6%;
    z-index: 3;
    margin-top: 29.3%;
}

.phone--slide {
    position: absolute;
    z-index: 4;
    margin-top: 5%;
    left: 23%;
    max-width: 100%;
    width: 55.9%;
}

.activeslide,
.next {
    display: inline-block;
}

.to-left{
    animation-name: left;
}

.to-right{
    animation-name: right;
    animation-direction: reverse;
}

.from-left{
    animation-name: left;
    animation-direction: reverse;
}

.from-right{
    animation-name: right;
}

.next {
    position: absolute;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.services {
    background-color: #f2f2f2;
    color: #767e9e;
    padding-bottom: 30px;
    border-bottom: 6px solid #f2f2f2;
}

@media (max-width: 375px) {
    .services {
        padding-bottom: 15px;
    } 
}


.services__description-wrap {
    padding-top: 60px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .services__description-wrap {
        padding-top: 40px;
    } 
}

@media (max-width: 375px) {
    .services__description-wrap {
        padding-top: 25px;
    } 
}

.services__description-wrap h2 {
    margin: 0 0 20px 0;
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
}

.services__description-wrap p {
    line-height: 30px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.2px;
    margin-bottom: 17px
}

@media (max-width: 375px) {
    .services__description-wrap p {
        text-align: start;
    } 
}


.services__items-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.services__item {
    max-height: 92px;
    width: 24%;
    overflow: hidden;
    padding-left: 82px;
    margin-bottom: 32px;
    position: relative;
}

.services__item:before {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    transform: translate(8px, -50%);
}

@media (max-width: 960px) {
    .services__item {
        width: 35%;
        overflow: visible;
        margin-bottom: 38px
    } 
}

@media (max-width: 768px) {
    .services__item {
        width: 35%;
    } 
}

@media (max-width: 767px) {
    .services__item {
        width: 100%;
    } 
}

@media (max-width: 375px) {
    .services__item {
        width: 100%;
        margin-bottom: 15px
    } 
}



.services__item h3 {
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 9px 0;
}
.services__item--support h3 {
    letter-spacing: -0.6px;
}

.services__item--design h3 {
    letter-spacing: -0.3px;
}

.services__item p {
    margin: 0;
    line-height: 22px;
    font-size: 12px;
}

.services__item--design:before {
    background: url("assets/pen.svg") no-repeat;
    left: -8px;
    top: 38%;
}

.services__item--ideas:before {
    background: url("assets/bulb.svg") no-repeat;
    left: -8px;
    top: 38%;
}

.services__item--love:before {
    background: url("assets/heart.svg") no-repeat;
    left: -8px;
    top: 37%;
}

.services__item--layout:before {
    background: url("assets/phone.svg") no-repeat;
    left: -8px;
    top: 37%;
}

.services__item--support:before {
    background: url("assets/bubble.svg") no-repeat;
    left: -8px;
    top: 37%;
}

.services__item--star:before {
    background: url("assets/star.svg") no-repeat;
    left: -8px;
    top: 37%;
}

.portfolio .container {
    max-width: 960px;
    margin: 0 auto;
}

.portfolio {
    background: #2d303a;
    padding:60px 0 49px 0;
    border-bottom: 6px solid #323746;
}

.portfolio h2 {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    margin-bottom:23px;
    letter-spacing: 0.3px;
    margin-left: 10px;
}

.portfolio p {
    font-weight: 300;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.portfolio-menu__list {
    list-style-type: none;
    display: flex;
    margin-left: 10px;
}

ul.portfolio-menu__list li {
    margin: 0 10px 0 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: -0.1px
}

ul.portfolio-menu__list li{
    border-radius: 5px;
    border: 1px solid #666d89;
    color: #767e9e;
    padding: 2px 7px;
    cursor: pointer;
}

ul.portfolio-menu__list li.selected {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.portfolio-menu__examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 9px 0 0 0;
}

.portfolio-menu__examples .portfolio-menu__images:nth-child( n+13 ){
    display: none;
}

.portfolio-menu__images {
    flex: 1 0 20%;
    margin: 10px;
}

@media (max-width: 1019px) {
    .portfolio-menu__images {
        flex: 1 0 30%;
        margin: 10px;
    } 

    .portfolio-menu__images img{
        width: 100%;
    } 

}

@media (max-width: 757px) {
    .portfolio-menu__examples {
        padding: 25px 0 0 0;
    }

    .portfolio-menu__images {
        flex: 1 0 45%;
        margin: 7px;
    }

    .portfolio-menu__images img{
        max-width: 100%;
        width: 100%;
    }

    .portfolio-menu__examples .portfolio-menu__images:nth-child( n+9 ){
        display: none;
    } 
}


@media (max-width: 375px) {
    .portfolio-menu__examples {
        padding: 25px 0 0 0;
    }
    .portfolio-menu__images {
        flex: 1 0 30%;
        margin: 7px;
    }
    .portfolio-menu__examples .portfolio-menu__images:nth-child( n+9 ){
        display: none;
    } 
}


.portfolio-menu__images img{
max-width: 100%
}

.about {
    background: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about__description-wrap {
    padding-top: 60px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__description-wrap h2 {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    margin: 0 0 17px 0;
}

.about__description-wrap p {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 1.7;
    letter-spacing: -0.2px;
}

.about__profiles-wrap {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .about__profiles-wrap {
    flex-direction: column;
    align-items: center;
    } 
}

.about__profiles {    
    max-width: 300px;
    width: 31.91%;
}


@media (max-width: 768px) {
    .about__profiles {
        margin-right: 10px;
    } 
    .about__profiles:last-child {
        margin-right: 0;
    } 
}


@media (max-width: 767px) {
    .about__profiles {
        margin-right: 10px;
        width: 100%;
        margin-right: 0;
    } 
    .about__profiles:last-child {
        margin-right: 0;
    } 
}

@media (max-width: 375px) {
    .about__profiles {
        max-width: 315px;
        width: 100%;
        margin-right: 0;
    } 

    .about__profiles img{
        width: 315px;
        margin-right: 0;
    } 
}


.about__profiles img{
    max-width: 100%;
}

.about__profiles h3{
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
    margin: 10px 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
}

.about__profiles p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    color: #767e9e;
    letter-spacing: -0.2px;
    text-align: justify;
    margin-bottom:24px;
}

@media (max-width: 375px) {
    .about__profiles p {
        margin-bottom: 9px;
    } 
}

.about__profiles a:hover {
    opacity: 0.2;
    background-color: #f06c64;
}

.about__profiles .social-icons{
    max-width: 300px;
    height: 100px;
}

.social-icons__icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:4px;
    border-radius: 50%;
    border: 1px solid #6a718c;
    opacity: 0.5;
}

@media (max-width: 375px) {
    .social-icons__icon {
        height: 66px;
    } 
}

.icon-facebook {
    background-image: url("assets/facebook.svg");  
}

.icon-google {
    background-image: url("assets/google.svg");
}

.icon-twitter {   
    background-image: url("assets/twitter.svg");
}

.icon-linkedin {
    background-image: url("assets/linkedin.svg");
}

.contact .container {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 60px; 
    padding-bottom: 10px;  
}
@media (max-width: 768px) {
    .contact .container {
        padding-top: 53px;
    } 
}

@media (max-width: 375px) {
    .contact .container {
        padding-bottom: 42px;
    } 
}

.contact {
    background: #f06c64;
    overflow: hidden;
    border-bottom: 6px solid #ea676b;
}

.contact__description-wrap h2 {
    font-size: 30px;
    font-weight: 900;
    color: #f0d8d9;
    margin: 0 0 20px 0;
}

.contact__description-wrap p {
    font-size: 18px;
    font-weight: 300;
    color: #f0d8d9;
    line-height: 1.65;
    letter-spacing: -0.01em;
}

.contact__form-wrap {
    display: flex;
    padding-top: 42px;
}

@media (max-width: 768px) {
    .contact__form-wrap {
        padding-top: 23px;
    } 
}

@media (max-width: 757px) {
    .contact__form-wrap  {
        flex-direction: column;
    } 
}


@media (max-width: 767px) {
    .contact__form-wrap  {
        flex-direction: column;
    } 
}

.contact__info {
    max-width: 300px;
    width: 100%;
}

@media (max-width: 768px) {
    .contact__info{
        max-width: 221px;
    }
    
}

@media (max-width: 767px) {
    .contact__info{
        max-width: 100%;
    }
    
}

@media (max-width: 375px) {
    .contact__info {
        padding-top: 23px;
        width: 100%;
        max-width: 100%;
    }
    
}

.contact__info h3 {
    font-size: 18px;
    font-weight: 900;
    color: #f0d8d9;
    margin: 0 0 8px 0;

}

.contact__info p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.9;
    color: #f0d8d9;
    letter-spacing: -0.015em;
    margin-bottom: 17px;
    text-align: justify;
}

.contact__info a {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.9;
    color: #f0d8d9;
    letter-spacing: -0.015em;
    margin-bottom: 17px;
    text-align: justify;
}

.contact__info  a:hover {
    opacity: 0.2;
    background-color: #f06c64;   
}
.contact__info p.address {
    display: block;
    margin-bottom: 0px;
}
.contact__info p.address svg {
    padding: 7px 14px 0px 2px;
 
}

.contact__info a.phone {
    display: block;
    margin-bottom: 0px;
    line-height: 1.6;
}

.contact__info a.phone svg {
    padding: 2px 11px 0px 0px;
 
}


.contact__info a.email {
    display: block;
    margin-bottom: 0px;
    line-height: 1.8;
}

.contact__info a.email svg {
    padding: 2px 10px 0px 0px;
}

.contact__form {
    max-width: 620px;
    width: 100%;
    padding-right: 20px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .contact__form {
        width: 100%;
    }
    
}
@media (max-width: 767px) {
    .contact__form {
        max-width: 100%;
    }
    
}
/*@media (max-width: 375px) {
    .contact__form {
        width: 97%;
    }
}*/

.contact__form input { 
    margin: 0 0 16px 0;
    background: #d6564f;
    height: 38px;
    line-height: 38px;
    border: 0;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 12px;
    color: #f48c8f;
    font-family: 'Lato', sans-serif;    
}

textarea {
    padding: 10px 15px 0 15px;
    margin: 0 0 16px 0;
    background: #d6564f;
    height: 170px;
    border: 0;
    border-radius: 5px;
    overflow: auto;
    resize: none;
    font-size: 12px;
    color: #f48c8f;
    font-family: 'Lato', sans-serif;

}



::placeholder {
    color: #f48c8f;
    opacity: 1;
}

input.submitbtn {
    padding: 0;
    margin: 0;
    background: #d6564f;
    width: 150px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: #f48c8f;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    input.submitbtn {
        width: 100%;
        margin-bottom: 32px;
    }
    
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0008;
}
  
  #message-block.hidden {
    display: none;
}
  
  #message {
    position: absolute;
    min-width: 510px;
    padding: 10px 10px;
    background-color: #f06c64;
    top: 40%;
    left: 35%;
    border: 2px solid #d6564f;
    border-radius: 5px;
    text-align: left;
}

.message-block-btn {
    background: #f48c8f;
    border: 0;
    border-radius: 5px;
    color:#f0d8d9;

}

.footer {
background: #2d303a;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
  }

.copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
}

@media (max-width: 375px) {
    .copyright {
        display: none;
    }    
}  

.footer .social-icons {
    transform: translate(5px, 0px);
}

@media (max-width: 375px) {
    .footer .social-icons {
        margin: 0 auto;
    }    
}  

.social-icons a.social-icons__icon:hover {
    opacity: 0.2;
    background-color: #f06c64;
}

.social-icons__icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:4px;
    border-radius: 50%;
    border: 1px solid #6a718c;
    opacity: 0.5;
}

.icon-facebook {
    background-image: url("assets/facebook.svg");  
}

.icon-google {
    background-image: url("assets/google.svg");
}

.icon-twitter {   
    background-image: url("assets/twitter.svg");
}

.icon-linkedin {
    background-image: url("assets/linkedin.svg");
}